In [80]:
%load_ext sql
%sql sqlite:///database.sqlite
    
# List tables
%sql SELECT name FROM sqlite_master WHERE type='table';

The sql extension is already loaded. To reload it, use:
  %reload_ext sql
 * sqlite:///database.sqlite
Done.

[('sqlite_sequence',),
 ('Player_Attributes',),
 ('Player',),
 ('Match',),
 ('League',),
 ('Country',),
 ('Team',),
 ('Team_Attributes',)]

In [90]:
%%sql 
SELECT * FROM Player LIMIT 5;

 * sqlite:///database.sqlite
Done.

[(1, 505942, 'Aaron Appindangoye', 218353, '1992-02-29 00:00:00', 182.88, 187),
 (2, 155782, 'Aaron Cresswell', 189615, '1989-12-15 00:00:00', 170.18, 146),
 (3, 162549, 'Aaron Doran', 186170, '1991-05-13 00:00:00', 170.18, 163),
 (4, 30572, 'Aaron Galindo', 140161, '1982-05-08 00:00:00', 182.88, 198),
 (5, 23780, 'Aaron Hughes', 17725, '1979-11-08 00:00:00', 182.88, 154)]

In [92]:
%%sql
SELECT COUNT(*) as total_players, AVG(height) as avg_height
FROM Player;

 * sqlite:///database.sqlite
Done.

[(11060, 181.86744484629295)]

In [96]:
%%sql
SELECT p.player_name, t.team_long_name
FROM Player p
JOIN Match m ON p.player_api_id = m.home_player_1
JOIN Team t ON m.home_team_api_id = t.team_api_id
LIMIT 5;

 * sqlite:///database.sqlite
Done.

[('Mark Volders', 'Royal Excel Mouscron'),
 ('Wouter Biebauw', 'KV Mechelen'),
 ('Bertrand Laquait', 'Sporting Charleroi'),
 ('Boubacar Barry Copa', 'Sporting Lokeren'),
 ('Stijn Stijnen', 'Club Brugge KV')]

In [98]:
# Chunk 5: Summary
print("SQL Mini-Project 1: Explored soccer players and teams.")

SQL Mini-Project 1: Explored soccer players and teams.